<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
    <h1>Shamari McPherson</h1>
    <img src="{{ url_for('static', filename='kitten.jpeg') }}" alt="kitten" width="250" height="400"/>
    <p>
        I am a 21 year old female, currently attending my final year at the university of the West Indies Mona. <br> 
        Soon i will complet my degree and finally be free of school for some time.
    </p>
</body>
</html>